.main{
       margin-top: -2rem;
}



.title-about-home{
    text-align: center;
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: 3rem;
}

/*?? About-Info ??*/
.about-Home{
    margin-top: -6rem;
}

.box-info-about{
 grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  display: grid;
  grid-gap: 10px;
  align-items: center;
  margin-right: 8px;
  margin-left: 8px;
}

.heading-info-about{
  text-align: center;
}

.about-img-home img{
    width: 100%;
    border-radius: 5px;
}



.text-info-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.title-about-1{
    font-size: var(--h2-font-size);
    color: var(--second-color);
    padding: 30px 0px;
}


.title-about-2{
    font-size: var(--h1-font-size);
    color: var(--first-color);
}

.contact-box{
   margin-top: 2rem;
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2.5rem;
}

.my-box{
    display: flex;
    align-items: center;
    gap: 1rem;  
    background-color: var(--body-color);
    padding: 20px;
    transition: 0.3s;
    
    border-radius: 35px;

box-shadow:  9px 9px 22px #a7a7a7,
             -9px -9px 22px #ffffff;
    border-radius: 5px;
}

.contact-box .my-box:hover{
    background-color: var( --hover-color);
    cursor: pointer;
  
}



.my-box:hover .box-title,
.my-box:hover .p-box {
  color: #fff;
  
} 

.box-title{
    color: var(--first-color);
    transition: 0.3s;
}

/*?? Wrapper-home ??*/

.awrapper-home{
    margin-top: 6rem;
}

.sub-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.data-box{
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    align-items: center;
    background-color: var(--body-color);
    box-shadow:  9px 9px 22px #a7a7a7,
             -9px -9px 22px #ffffff;
    padding: 20px;
    border-radius: 5px;
    width: 25%;

}

.data-box-icon i{
    font-size: var(--h1-font-size);
    color: var(--first-color);
}

.data-box-text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: var(--normal-font-size);
    color: var(--first-color);
    transition: 0.3s;
}

.data-box-text:hover{
    color: var(--hover-color);
}

/*?? OUR COURSES ??*/

.our-courses{
    margin-top: 6%;
}

.heading-text{
text-align: center;
}

.title-heading-text-1{
    font-size: var(--h2-font-size);
    color: var(--second-color);
    font-weight: var(--font-bold);
}

.title-heading-text-2{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-top: 0.9rem;
}


.courses-Card{
display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
}

.item-courses{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--body-color);
    box-shadow: 9px 9px 22px #a7a7a7, -9px -9px 22px #ffffff;
    padding: 20px 20px;
    border-radius: 5px;
}

.text-item-courses{
        display: flex;
    align-items: center;
    gap: 1rem;
}

.text-item-courses img{
    width: 100px;
}

.text-item-courses h3{
   font-size: var(--h3-font-size);

   font-weight: var(--font-medium);
    color: var(--first-color);
    width: 250px;
}

.box-Mentor{
    display: flex;
    align-items: center;
   gap: 0.8rem;
}

.img-mentor{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.name-mentor{
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.text-info{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.price{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    font-weight: var(--font-normal)
}

.lectures{
    color: var(--first-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
}

.ENROLL{
    background-color: var(--second-color);
    padding: 13px 10px;
    color: #ffff;
    border-radius: 4px;
    transition: 0.3s;
}

.ENROLL:hover{
    background-color: var(--hover-color);
}

/*?? Online Courses */

.online-courses{
    margin-top: 6rem;
}

.contact-online-courses{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 1rem;
    margin-top: 4rem;
}

.items-courses-online{
        background-color: var(--body-color);
    box-shadow: 9px 9px 22px #a7a7a7, -9px -9px 22px #ffffff;
    border-radius: 5px;
        padding: 15px 0px;
        cursor: pointer;
        margin-left: 8px;
    margin-right: 8px;
    transition: 0.3s;
}



.items-courses-online:hover{
    background-color: var(--hover-color);
}

.items-courses-online:hover .img-courses-online{
    filter: brightness(10000%);
}

.items-courses-online:hover .title-courses-online{
    color: #ffff;
}


.box-courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title-courses-online{
    color: var(--first-color);
}

.text--courses-online{
    border-radius: 5px;
    padding: 10px 40px;
    background-color: #ebebeb;

}

.img-courses-online{
    width: 100px;
    filter: hue-rotate(60deg);
    
}


/*?? Testimonial */

.Testimonial{
    margin-top: 6rem;
}

.contact-testimonial{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 8px;
    margin-right: 8px;
}

.card-testimonial{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--body-color);
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 9px 9px 22px #a7a7a7, -9px -9px 22px #ffffff;
    transition: 0.3s;
    cursor: pointer;
}

.card-testimonial:hover{
background-color: var(--hover-color);
}



.title--testimonial{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.text-title-testimonial{
    line-height: 2rem;
}

.hed-testimonial{
        color: var(--first-color);
    font-weight: var(--font-medium);
}

.text-testimonial{
    color: var(--second-color);
    font-weight: var(--font-normal);
}

.card-testimonial:hover .hed-testimonial,
.card-testimonial:hover .text-testimonial {
    color: #fff;
}

.p-testimonial{
    line-height: 1.8rem;
    color: var(--text-color);
}

.card-testimonial:hover .p-testimonial{
    color: #fff;
}

.img-testimonial{
    width: 100px;
    border-radius: 50%;
}

/*?? section-blog */

.section-blog{
    margin-top: 6rem;
}

.contact-blog{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 8px;
    margin-right: 8px;
}

.card-weblog{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 9px 9px 22px #a7a7a7, -9px -9px 22px #ffffff;
    border-radius: 5px;
   
   
}

.heading-weblog{
    padding: 15px;
}

.title-weblog{
    color: var(--first-color);
}

.desc-weblog{
    margin-top: 0.8rem;
    color: var(--text-color);
}

.img-weblog{
    width: 100%;
    border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}



/*??RESPONSIVE*/

@media screen and (max-width:840px) {

    .box-info-about{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-left: 8px;
        margin-right: 8px;
    }

    .contact-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    margin-left: 8px;
    margin-right: 8px;
    }

 .about-img-home{
    display: flex;
    justify-content: center;
    order: 1;
 }

 .about-img-home img{
    width: 75%;
  
 }

 .about-img-home

.title-about-1{
    font-size: 1.3rem;
}

.title-about-2{
    font-size: 2rem;
}

.sub-data{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
}

.data-box{
    padding: 30px 0px;
    width: 58%;
}
.item-courses{
    margin-left: 8px;
    margin-right: 8px;
}


    
}

@media screen and (max-width:500px){
      .contact-box{
            display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .title-about-1 {
    font-size: 1.1rem;
}

.title-about-2 {
    font-size: 1.7rem;
}

.box-info-about{
    margin-top: 1rem;
}

.heading-info-about {
    margin-top: -1rem;
    text-align: center;
   
}

.data-box{
    width: 100%;
}

.title-heading-text-1{
    font-size: 1.1rem;
}

.title-heading-text-2{
    font-size: 1.7rem;
}


.title-weblog{
    font-size: var(--h3-font-size);
}
    

} 



@media screen and (max-width:400px){

    .title-heading-text-1{
        font-size: 1rem;
    }

    .title-heading-text-2{
         font-size: 1.5rem;;
    }


}



@media screen and (max-width:270px){
  

.contact-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.courses-Card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
   
}

.contact-testimonial {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.contact-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    
}

.box-title{
    font-size: 17px;
}

.text-item-courses img{
    width: 80px;
}
.text-item-courses h3{
    font-size: 15px;
}

.name-mentor{
    font-size: 12px;
}

.price,
.lectures{
    font-size: 17px;
}

.title-weblog{
    font-size: 16px;
}


}



