@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
 
}

.container{
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
}

:root{
  
    /* ? Main Theme Color ?*/

    --first-color :#0e2431;
    --second-color :#6a59d1;
    --third-color :#777;
    

     /*? Hover Color ?*/
    --hover-color :#4735bd;

    /*? Background Color ?*/

    --body-bg-color :#fefefe;
    --card-bg-color :#fff;
    --background: ;
    --line-color: #aca7a7;

    /*? Color Filter ?*/

    --color-filter:invert(1);

    /*? box Shadow ?*/

  --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

  --header-height:3rem;

  /*=== COLOR ===*/
  --hus:0;
  --set:0%;
  --title-color:hsl(var(--hus), var(--set), 20%);
  --title-color-dark:hsl(var(--hus), var(--set), 0%);
  --text-color:hsl(var(--hus), var(--set), 46%);
  --body-color:hsl(var(--hus), var(--set), 98%);
  --container-color:#ffff;

  /*==== font ====*/
  --body-font:'Poppins', sans-serif, 'Sono', sans-serif;

 --big-font-size:3.5rem;
 --h1-font-size:2.25rem;
 --h2-font-size:1.5rem;
 --h3-font-size:1.25rem;
 --normal-font-size:1rem;
 --small-font-size:0.875rem;
 --smaller-font-size:0.813rem;
 --tiny-font-size:0.625rem;

 /*==== font Weight ==== */

 --font-normal:400;
 --font-medium:500;
 --font-bold:600;

 /*==== MARGIN ==== */

 --mb-0-25-:0.25rem;
  --mb-0-5-:0.5rem;
  --mb-0-75-:0.75rem;
  --mb-1-:1rem;
  --mb-1-5-:1.5rem;
  --mb-2:2rem;
  --mb-2-5-:2.5rem;
  --mb-3:3rem;


  /*==== Z Index ====*/

  --z-tooltip:10;
  --z-fixed:100;
  --z-modal:1000;

}

html{
  scroll-behavior: smooth;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}