
.header{
    height: 105vh;
    background-image: url('../../../public/Img/christin-hume-Hcfwew744z4-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    top: -8rem;
    width: 100%;  
}

.social{
    position: absolute;

    left: -4rem;
}

 

.box-info{
    margin-top: 8rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    position: relative;
    top: 10rem;
    
}
.title-heading{
    color: #ffff;
}

.heading-text-1{
margin-bottom: 2rem;
font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.heading-text-2{
    font-size: 2.6rem;
   
}

.p-heading{
    color: #ffff;
    font-size: 20px;
    line-height: 30px;
}

.button-heading{
    display: flex;
    gap: 1rem;
  
}

.btn-heading{
padding: 13px 10px;
    border-radius: 4px;
    background-color: var(--second-color);
    color: #ffff;
    transition: 0.3s;
}

.btn-heading:hover{
    background-color: var(--hover-color);
}

.may-social{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
        gap: 2.8rem;
}

.items-social{
    font-size: 1.7rem;
    color: var( --second-color);
    transition: 0.3s;
}

.items-social:hover{
    color: #ffff; 
}

@media screen and (max-width :830px){
    .heading-text-1{

font-size: 1.3rem;

  
  
}

.heading-text-2{
    font-size: 2rem;
   
}

.p-heading{
    color: #ffff;
    font-size: 18px;
    line-height: 30px;
}

.may-social{
   align-items: center;
    gap: 3rem;
}

.items-social{
    font-size: 1.3rem;
    transition: 0.3s;
}

}

@media screen and (max-width:442px){
   .heading-text-1 {
    font-size: 1rem;
}
.heading-text-2 {
    font-size: 1.8rem;
}

.button-heading{
    display: flex;
    flex-wrap: wrap;
}

.p-heading{
    font-size: 16px;
}
}


@media screen and (max-width:340px){
    .heading-text-2 {
    font-size: 1.1rem;
}
}

@media screen and (max-width:330px){
    .box-info{
        top: 7rem;
    }



}
 